:root {
  --animations-backdrop-in: fade-in 250ms var(--easings-emphasized-in);
  --animations-backdrop-out: fade-out 200ms var(--easings-emphasized-out);
  --animations-dialog-in: slide-in 400ms var(--easings-emphasized-in);
  --animations-dialog-out: slide-out 200ms var(--easings-emphasized-out);
  --animations-drawer-in-left: slide-in-left 400ms var(--easings-emphasized-in);
  --animations-drawer-out-left: slide-out-left 200ms
    var(--easings-emphasized-out);
  --animations-drawer-in-right: slide-in-right 400ms
    var(--easings-emphasized-in);
  --animations-drawer-out-right: slide-out-right 200ms
    var(--easings-emphasized-out);
  --animations-skeleton-pulse: skeleton-pulse 2s var(--easings-pulse) infinite;
  --animations-fade-in: fade-in 400ms var(--easings-emphasized-in);
  --animations-collapse-in: collapse-in 250ms var(--easings-emphasized-in);
  --animations-collapse-out: collapse-out 200ms var(--easings-emphasized-out);
  --animations-spin: spin 1s linear infinite;
  --blurs-sm: 4px;
  --blurs-base: 8px;
  --blurs-md: 12px;
  --blurs-lg: 16px;
  --blurs-xl: 24px;
  --blurs-2xl: 40px;
  --blurs-3xl: 64px;
  --borders-none: none;
  --colors-current: currentColor;
  --colors-black: #000;
  --colors-black-a1: rgba(0, 0, 0, 0.05);
  --colors-black-a2: rgba(0, 0, 0, 0.1);
  --colors-black-a3: rgba(0, 0, 0, 0.15);
  --colors-black-a4: rgba(0, 0, 0, 0.2);
  --colors-black-a5: rgba(0, 0, 0, 0.3);
  --colors-black-a6: rgba(0, 0, 0, 0.4);
  --colors-black-a7: rgba(0, 0, 0, 0.5);
  --colors-black-a8: rgba(0, 0, 0, 0.6);
  --colors-black-a9: rgba(0, 0, 0, 0.7);
  --colors-black-a10: rgba(0, 0, 0, 0.8);
  --colors-black-a11: rgba(0, 0, 0, 0.9);
  --colors-black-a12: rgba(0, 0, 0, 0.95);
  --colors-white: #fff;
  --colors-white-a1: hsla(0, 0%, 100%, 0.05);
  --colors-white-a2: hsla(0, 0%, 100%, 0.1);
  --colors-white-a3: hsla(0, 0%, 100%, 0.15);
  --colors-white-a4: hsla(0, 0%, 100%, 0.2);
  --colors-white-a5: hsla(0, 0%, 100%, 0.3);
  --colors-white-a6: hsla(0, 0%, 100%, 0.4);
  --colors-white-a7: hsla(0, 0%, 100%, 0.5);
  --colors-white-a8: hsla(0, 0%, 100%, 0.6);
  --colors-white-a9: hsla(0, 0%, 100%, 0.7);
  --colors-white-a10: hsla(0, 0%, 100%, 0.8);
  --colors-white-a11: hsla(0, 0%, 100%, 0.9);
  --colors-white-a12: hsla(0, 0%, 100%, 0.95);
  --colors-transparent: transparent;
  --colors-red-light-1: #fffcfc;
  --colors-red-light-2: #fff7f7;
  --colors-red-light-3: #feebec;
  --colors-red-light-4: #ffdbdc;
  --colors-red-light-5: #ffcdce;
  --colors-red-light-6: #fdbdbe;
  --colors-red-light-7: #f4a9aa;
  --colors-red-light-8: #eb8e90;
  --colors-red-light-9: #e5484d;
  --colors-red-light-10: #dc3e42;
  --colors-red-light-11: #ce2c31;
  --colors-red-light-12: #641723;
  --colors-red-light-a1: #ff000003;
  --colors-red-light-a2: #ff000008;
  --colors-red-light-a3: #f3000d14;
  --colors-red-light-a4: #ff000824;
  --colors-red-light-a5: #ff000632;
  --colors-red-light-a6: #f8000442;
  --colors-red-light-a7: #df000356;
  --colors-red-light-a8: #d2000571;
  --colors-red-light-a9: #db0007b7;
  --colors-red-light-a10: #d10005c1;
  --colors-red-light-a11: #c40006d3;
  --colors-red-light-a12: #55000de8;
  --colors-red-dark-1: #191111;
  --colors-red-dark-2: #201314;
  --colors-red-dark-3: #3b1219;
  --colors-red-dark-4: #500f1c;
  --colors-red-dark-5: #611623;
  --colors-red-dark-6: #72232d;
  --colors-red-dark-7: #8c333a;
  --colors-red-dark-8: #b54548;
  --colors-red-dark-9: #e5484d;
  --colors-red-dark-10: #ec5d5e;
  --colors-red-dark-11: #ff9592;
  --colors-red-dark-12: #ffd1d9;
  --colors-red-dark-a1: #f4121209;
  --colors-red-dark-a2: #f22f3e11;
  --colors-red-dark-a3: #ff173f2d;
  --colors-red-dark-a4: #fe0a3b44;
  --colors-red-dark-a5: #ff204756;
  --colors-red-dark-a6: #ff3e5668;
  --colors-red-dark-a7: #ff536184;
  --colors-red-dark-a8: #ff5d61b0;
  --colors-red-dark-a9: #fe4e54e4;
  --colors-red-dark-a10: #ff6465eb;
  --colors-red-dark-a11: #ff9592;
  --colors-red-dark-a12: #ffd1d9;
  --colors-gray-light-1: #fdfdfc;
  --colors-gray-light-2: #f9f9f8;
  --colors-gray-light-3: #f1f0ef;
  --colors-gray-light-4: #e9e8e6;
  --colors-gray-light-5: #e2e1de;
  --colors-gray-light-6: #dad9d6;
  --colors-gray-light-7: #cfceca;
  --colors-gray-light-8: #bcbbb5;
  --colors-gray-light-9: #8d8d86;
  --colors-gray-light-10: #82827c;
  --colors-gray-light-11: #63635e;
  --colors-gray-light-12: #21201c;
  --colors-gray-light-a1: #55550003;
  --colors-gray-light-a2: #25250007;
  --colors-gray-light-a3: #20100010;
  --colors-gray-light-a4: #1f150019;
  --colors-gray-light-a5: #1f180021;
  --colors-gray-light-a6: #19130029;
  --colors-gray-light-a7: #19140035;
  --colors-gray-light-a8: #1915014a;
  --colors-gray-light-a9: #0f0f0079;
  --colors-gray-light-a10: #0c0c0083;
  --colors-gray-light-a11: #080800a1;
  --colors-gray-light-a12: #060500e3;
  --colors-gray-dark-1: #111110;
  --colors-gray-dark-2: #191918;
  --colors-gray-dark-3: #222221;
  --colors-gray-dark-4: #2a2a28;
  --colors-gray-dark-5: #31312e;
  --colors-gray-dark-6: #3b3a37;
  --colors-gray-dark-7: #494844;
  --colors-gray-dark-8: #62605b;
  --colors-gray-dark-9: #6f6d66;
  --colors-gray-dark-10: #7c7b74;
  --colors-gray-dark-11: #b5b3ad;
  --colors-gray-dark-12: #eeeeec;
  --colors-gray-dark-a1: #00000000;
  --colors-gray-dark-a2: #f4f4f309;
  --colors-gray-dark-a3: #f6f6f513;
  --colors-gray-dark-a4: #fefef31b;
  --colors-gray-dark-a5: #fbfbeb23;
  --colors-gray-dark-a6: #fffaed2d;
  --colors-gray-dark-a7: #fffbed3c;
  --colors-gray-dark-a8: #fff9eb57;
  --colors-gray-dark-a9: #fffae965;
  --colors-gray-dark-a10: #fffdee73;
  --colors-gray-dark-a11: #fffcf4b0;
  --colors-gray-dark-a12: #fffffded;
  --colors-coral-light-1: #fff8f7;
  --colors-coral-light-2: #ffefef;
  --colors-coral-light-3: #ffe5e4;
  --colors-coral-light-4: #ffdbda;
  --colors-coral-light-5: #ffd2d1;
  --colors-coral-light-6: #ffc9c8;
  --colors-coral-light-7: #ffbeb8;
  --colors-coral-light-8: #ffb2a8;
  --colors-coral-light-9: #eb5e41;
  --colors-coral-light-10: #de5045;
  --colors-coral-light-11: #c9453b;
  --colors-coral-light-12: #762d25;
  --colors-coral-dark-1: #1c1412;
  --colors-coral-dark-2: #391a18;
  --colors-coral-dark-3: #55221e;
  --colors-coral-dark-4: #722b25;
  --colors-coral-dark-5: #8e342b;
  --colors-coral-dark-6: #aa3d32;
  --colors-coral-dark-7: #c6493a;
  --colors-coral-dark-8: #e2503f;
  --colors-coral-dark-9: #eb5e41;
  --colors-coral-dark-10: #ef6b4e;
  --colors-coral-dark-11: #f47a5c;
  --colors-coral-dark-12: #faa19b;
  --durations-fastest: 50ms;
  --durations-faster: 100ms;
  --durations-fast: 150ms;
  --durations-normal: 200ms;
  --durations-slow: 300ms;
  --durations-slower: 400ms;
  --durations-slowest: 500ms;
  --easings-pulse: cubic-bezier(0.4, 0, 0.6, 1);
  --easings-default: cubic-bezier(0.2, 0, 0, 1);
  --easings-emphasized-in: cubic-bezier(0.05, 0.7, 0.1, 1);
  --easings-emphasized-out: cubic-bezier(0.3, 0, 0.8, 0.15);
  --font-sizes-2xs: 0.5rem;
  --font-sizes-xs: 0.75rem;
  --font-sizes-sm: 0.875rem;
  --font-sizes-md: 1rem;
  --font-sizes-lg: 1.125rem;
  --font-sizes-xl: 1.25rem;
  --font-sizes-2xl: 1.5rem;
  --font-sizes-3xl: 1.875rem;
  --font-sizes-4xl: 2.25rem;
  --font-sizes-5xl: 3rem;
  --font-sizes-6xl: 3.75rem;
  --font-sizes-7xl: 4.5rem;
  --font-sizes-8xl: 6rem;
  --font-sizes-9xl: 8rem;
  --font-weights-thin: 100;
  --font-weights-extralight: 200;
  --font-weights-light: 300;
  --font-weights-normal: 400;
  --font-weights-medium: 500;
  --font-weights-semibold: 600;
  --font-weights-bold: 700;
  --font-weights-extrabold: 800;
  --font-weights-black: 900;
  --letter-spacings-tighter: -0.05em;
  --letter-spacings-tight: -0.025em;
  --letter-spacings-normal: 0em;
  --letter-spacings-wide: 0.025em;
  --letter-spacings-wider: 0.05em;
  --letter-spacings-widest: 0.1em;
  --line-heights-none: 1;
  --line-heights-tight: 1.25;
  --line-heights-normal: 1.5;
  --line-heights-relaxed: 1.75;
  --line-heights-loose: 2;
  --radii-none: 0;
  --radii-2xs: 0.0625rem;
  --radii-xs: 0.125rem;
  --radii-sm: 0.25rem;
  --radii-md: 0.375rem;
  --radii-lg: 0.5rem;
  --radii-xl: 0.75rem;
  --radii-2xl: 1rem;
  --radii-3xl: 1.5rem;
  --radii-full: 9999px;
  --sizes-0: 0rem;
  --sizes-1: 0.25rem;
  --sizes-2: 0.5rem;
  --sizes-3: 0.75rem;
  --sizes-4: 1rem;
  --sizes-5: 1.25rem;
  --sizes-6: 1.5rem;
  --sizes-7: 1.75rem;
  --sizes-8: 2rem;
  --sizes-9: 2.25rem;
  --sizes-10: 2.5rem;
  --sizes-11: 2.75rem;
  --sizes-12: 3rem;
  --sizes-14: 3.5rem;
  --sizes-16: 4rem;
  --sizes-20: 5rem;
  --sizes-24: 6rem;
  --sizes-28: 7rem;
  --sizes-32: 8rem;
  --sizes-36: 9rem;
  --sizes-40: 10rem;
  --sizes-44: 11rem;
  --sizes-48: 12rem;
  --sizes-52: 13rem;
  --sizes-56: 14rem;
  --sizes-60: 15rem;
  --sizes-64: 16rem;
  --sizes-72: 18rem;
  --sizes-80: 20rem;
  --sizes-96: 24rem;
  --sizes-0\.5: 0.125rem;
  --sizes-1\.5: 0.375rem;
  --sizes-2\.5: 0.625rem;
  --sizes-3\.5: 0.875rem;
  --sizes-4\.5: 1.125rem;
  --sizes-2xs: 16rem;
  --sizes-xs: 20rem;
  --sizes-sm: 24rem;
  --sizes-md: 28rem;
  --sizes-lg: 32rem;
  --sizes-xl: 36rem;
  --sizes-2xl: 42rem;
  --sizes-3xl: 48rem;
  --sizes-4xl: 56rem;
  --sizes-5xl: 64rem;
  --sizes-6xl: 72rem;
  --sizes-7xl: 80rem;
  --sizes-8xl: 90rem;
  --sizes-full: 100%;
  --sizes-min: min-content;
  --sizes-max: max-content;
  --sizes-fit: fit-content;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-lg: 1024px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px;
  --spacing-0: 0rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-28: 7rem;
  --spacing-32: 8rem;
  --spacing-36: 9rem;
  --spacing-40: 10rem;
  --spacing-44: 11rem;
  --spacing-48: 12rem;
  --spacing-52: 13rem;
  --spacing-56: 14rem;
  --spacing-60: 15rem;
  --spacing-64: 16rem;
  --spacing-72: 18rem;
  --spacing-80: 20rem;
  --spacing-96: 24rem;
  --spacing-0\.5: 0.125rem;
  --spacing-1\.5: 0.375rem;
  --spacing-2\.5: 0.625rem;
  --spacing-3\.5: 0.875rem;
  --spacing-4\.5: 1.125rem;
  --z-index-hide: -1;
  --z-index-base: 0;
  --z-index-docked: 10;
  --z-index-dropdown: 1000;
  --z-index-sticky: 1100;
  --z-index-banner: 1200;
  --z-index-overlay: 1300;
  --z-index-modal: 1400;
  --z-index-popover: 1500;
  --z-index-skip-link: 1600;
  --z-index-toast: 1700;
  --z-index-tooltip: 1800;
  --fonts-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --fonts-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --fonts-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --fonts-body: var(--font-outfit), sans-serif;
  --fonts-code: var(--font-roboto-mono), monospace;
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px;
  --radii-l1: var(--radii-xs);
  --radii-l2: var(--radii-sm);
  --radii-l3: var(--radii-md);
  --colors-prose-body: var(--colors-slate-700);
  --colors-prose-heading: var(--colors-slate-900);
  --colors-prose-lead: var(--colors-slate-600);
  --colors-prose-link: var(--colors-slate-900);
  --colors-prose-bold: var(--colors-slate-900);
  --colors-prose-counter: var(--colors-slate-500);
  --colors-prose-bullet: var(--colors-slate-300);
  --colors-prose-hr-border: var(--colors-slate-200);
  --colors-prose-quote: var(--colors-slate-900);
  --colors-prose-quote-border: var(--colors-slate-200);
  --colors-prose-caption: var(--colors-slate-500);
  --colors-prose-kbd: var(--colors-slate-900);
  --colors-prose-kbd-shadow: 0 0 0;
  --colors-prose-code: var(--colors-slate-900);
  --colors-prose-pre-code: var(--colors-slate-200);
  --colors-prose-pre-bg: var(--colors-slate-800);
  --colors-prose-th-border: var(--colors-slate-300);
  --colors-prose-td-border: var(--colors-slate-200);
  --shadows-xs: 0px 1px 2px var(--colors-gray-a5),
    0px 0px 1px var(--colors-gray-a7);
  --shadows-sm: 0px 2px 4px var(--colors-gray-a3),
    0px 0px 1px var(--colors-gray-a7);
  --shadows-md: 0px 4px 8px var(--colors-gray-a3),
    0px 0px 1px var(--colors-gray-a7);
  --shadows-lg: 0px 8px 16px var(--colors-gray-a3),
    0px 0px 1px var(--colors-gray-a7);
  --shadows-xl: 0px 16px 24px var(--colors-gray-a3),
    0px 0px 1px var(--colors-gray-a7);
  --shadows-2xl: 0px 24px 40px var(--colors-gray-a3),
    0px 0px 1px var(--colors-gray-a7);
  --colors-bg-canvas: var(--colors-gray-1);
  --colors-bg-default: #fff;
  --colors-bg-subtle: var(--colors-gray-2);
  --colors-bg-muted: var(--colors-gray-3);
  --colors-bg-emphasized: var(--colors-gray-4);
  --colors-bg-disabled: var(--colors-gray-5);
  --colors-fg-default: var(--colors-gray-12);
  --colors-fg-muted: var(--colors-gray-11);
  --colors-fg-subtle: var(--colors-gray-10);
  --colors-fg-disabled: var(--colors-gray-9);
  --colors-fg-error: var(--colors-red-9);
  --colors-border-default: var(--colors-gray-7);
  --colors-border-muted: var(--colors-gray-6);
  --colors-border-subtle: var(--colors-gray-4);
  --colors-border-disabled: var(--colors-gray-5);
  --colors-border-outline: var(--colors-gray-a9);
  --colors-border-error: var(--colors-red-9);
  --colors-red-1: var(--colors-red-light-1);
  --colors-red-2: var(--colors-red-light-2);
  --colors-red-3: var(--colors-red-light-3);
  --colors-red-4: var(--colors-red-light-4);
  --colors-red-5: var(--colors-red-light-5);
  --colors-red-6: var(--colors-red-light-6);
  --colors-red-7: var(--colors-red-light-7);
  --colors-red-8: var(--colors-red-light-8);
  --colors-red-9: var(--colors-red-light-9);
  --colors-red-10: var(--colors-red-light-10);
  --colors-red-11: var(--colors-red-light-11);
  --colors-red-12: var(--colors-red-light-12);
  --colors-red-a1: var(--colors-red-light-a1);
  --colors-red-a2: var(--colors-red-light-a2);
  --colors-red-a3: var(--colors-red-light-a3);
  --colors-red-a4: var(--colors-red-light-a4);
  --colors-red-a5: var(--colors-red-light-a5);
  --colors-red-a6: var(--colors-red-light-a6);
  --colors-red-a7: var(--colors-red-light-a7);
  --colors-red-a8: var(--colors-red-light-a8);
  --colors-red-a9: var(--colors-red-light-a9);
  --colors-red-a10: var(--colors-red-light-a10);
  --colors-red-a11: var(--colors-red-light-a11);
  --colors-red-a12: var(--colors-red-light-a12);
  --colors-red-default: var(--colors-red-light-9);
  --colors-red-emphasized: var(--colors-red-light-10);
  --colors-red-fg: #fff;
  --colors-red-text: var(--colors-red-light-a11);
  --colors-gray-1: var(--colors-gray-light-1);
  --colors-gray-2: var(--colors-gray-light-2);
  --colors-gray-3: var(--colors-gray-light-3);
  --colors-gray-4: var(--colors-gray-light-4);
  --colors-gray-5: var(--colors-gray-light-5);
  --colors-gray-6: var(--colors-gray-light-6);
  --colors-gray-7: var(--colors-gray-light-7);
  --colors-gray-8: var(--colors-gray-light-8);
  --colors-gray-9: var(--colors-gray-light-9);
  --colors-gray-10: var(--colors-gray-light-10);
  --colors-gray-11: var(--colors-gray-light-11);
  --colors-gray-12: var(--colors-gray-light-12);
  --colors-gray-a1: var(--colors-gray-light-a1);
  --colors-gray-a2: var(--colors-gray-light-a2);
  --colors-gray-a3: var(--colors-gray-light-a3);
  --colors-gray-a4: var(--colors-gray-light-a4);
  --colors-gray-a5: var(--colors-gray-light-a5);
  --colors-gray-a6: var(--colors-gray-light-a6);
  --colors-gray-a7: var(--colors-gray-light-a7);
  --colors-gray-a8: var(--colors-gray-light-a8);
  --colors-gray-a9: var(--colors-gray-light-a9);
  --colors-gray-a10: var(--colors-gray-light-a10);
  --colors-gray-a11: var(--colors-gray-light-a11);
  --colors-gray-a12: var(--colors-gray-light-a12);
  --colors-gray-default: var(--colors-gray-light-9);
  --colors-gray-emphasized: var(--colors-gray-light-10);
  --colors-gray-fg: #fff;
  --colors-gray-text: var(--colors-gray-light-12);
  --colors-coral-1: var(--colors-coral-light-1);
  --colors-coral-2: var(--colors-coral-light-2);
  --colors-coral-3: var(--colors-coral-light-3);
  --colors-coral-4: var(--colors-coral-light-4);
  --colors-coral-5: var(--colors-coral-light-5);
  --colors-coral-6: var(--colors-coral-light-6);
  --colors-coral-7: var(--colors-coral-light-7);
  --colors-coral-8: var(--colors-coral-light-8);
  --colors-coral-9: var(--colors-coral-light-9);
  --colors-coral-10: var(--colors-coral-light-10);
  --colors-coral-11: var(--colors-coral-light-11);
  --colors-coral-12: var(--colors-coral-light-12);
  --colors-coral-default: var(--colors-coral-light-9);
  --colors-coral-emphasized: var(--colors-coral-light-10);
  --colors-coral-fg: #fff;
  --colors-coral-text: var(--colors-coral-light-11);
}

[data-scope='toast'][data-part='root'] {
  background: var(--colors-bg-default);
  border-radius: var(--radii-l3);
  box-shadow: var(--shadows-lg);
  min-width: var(--sizes-xs);
  height: var(--height);
  opacity: var(--opacity);
  overflow-wrap: anywhere;
  padding: var(--spacing-4);
  position: relative;
  scale: var(--scale);
  translate: var(--x) var(--y) 0;
  will-change: translate, opacity, scale;
  z-index: var(--z-index);
  --transition-duration: var(--durations-slow);
  transition-duration: var(--durations-slow);
  --transition-prop: translate, scale, opacity, height;
  transition-property: translate, scale, opacity, height;
  --transition-easing: var(--easings-default);
  transition-timing-function: var(--easings-default);
}

[data-scope='toast'][data-part='title'] {
  color: var(--colors-fg-default);
  font-weight: var(--font-weights-semibold);
}

[data-scope='toast'][data-part='description'],
[data-scope='toast'][data-part='title'] {
  font-size: var(--font-sizes-sm);
  line-height: 1.25rem;
}

[data-scope='toast'][data-part='description'] {
  color: var(--colors-fg-muted);
}

[data-scope='toast'][data-part='actionTrigger'] {
  margin-top: var(--spacing-2);
}

[data-scope='toast'][data-part='closeTrigger'] {
  position: absolute;
  top: var(--spacing-3);
  right: var(--spacing-3);
}
